# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
node_modules/
uploads/
*.wav
*.mp4
__pycache__/
.env

# Python
__pycache__/
*.pyc

# AI Models / Cache
.cache/
models/
*.pt

# Audio / Video
*.wav
*.mp4

# Uploads
uploads/

# Node
node_modules/
dist/

# Env
.env
*.exe
